<!-- Services Section -->
    <section id="introduction" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                </div>
            </div>
            <div class="row container">
                <!-- <p>Topic; <a href="/2016">Link to 2016</a> 
                </p> -->
                <!-- <h3>Overview</h3> -->
                <p class="large">
                    This workshop will offer a timely collection of research updates on multimedia computing towards fashion recommendation. We believe this workshop can benefit the researchers and practitioners working in the broad fields ranging from information retrieval, multimedia to machine learning. To this end, we solicit original research and survey papers addressing the topics listed below (but not limited to):
       
                    <font size="4">
                    <ul>
                    <li>Complementary and compatible garment recommendation.</li>
                    <li>Complementary and compatible garment synthesis.</li>
                    <li>Outfit composition / generation.</li>
                    <li>Personalized garment/outfit recommendation.</li>
                    <li>Interactive garment retrieval.</li>
                    <li>Fashion-oriented dialogue system.</li>
                    <li>Outfit try-on analysis.</li>
                    <li>Explainable garment / outfit recommendation.</li>
                    <li>Efficient garment / outfit recommendation.</li>
                    <li>Interfaces for garment recommendation systems.</li>
                    <li>Datasets for garment / outfit recommendation.</li>
                    </ul>
                    </font>
                </p>
                <br>
            </div>
        </div>
    </section>
