<section id="programs" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programs</h2>
                <!-- <h3 class="section-subheading"><strong>This is a tentative program.</strong>
                </h3> -->
                <!-- <h3 class="section-subheading" >20 Oct 2021 (all times are given in Beijing Time UTC+8)</h3>
                <h3 class="section-subheading" >Onsite Room: Langbo Room B, The Langbo Chengdu, in The Unbound Collection by Hyatt</h3>
                <h3 class="section-subheading" >Online Zoom Meeting Room ID: 864 1291 4191.</h3> -->
<!--                 [<a href='https://whova.com/portal/webapp/mm_202110/VideoGallery'>Video Gallery</a>] -->
<!--                 <h3 class="section-subheading" >TBD</h3> -->
                    <font size="4">
                    <ul>
                    <li>14:00-14:10 Welcome Message from the Chairs.</li>
                    <li>14:10-14:55 Keynotes: Fashion Meets Computer Vision - Wen-Huang Cheng (National Chiao Tung University).</li>
                    <li>14:55-15:15 Presentation 1: I-MALL An Effective Framework for Personalized Visits. Improving the Customer Experience in Stores.</li>
                    <li>15:15-15:35 Presentation 2: Counterfactural Inference towards Unbiased Outfit Compatibility Modeling.</li>
                    <li>15:35-15:50 Break.</li>
                    <li>15:50-16:10 Presentation 3: On Leveraging the Metapath and Entity Aware Subgraphs for Recommendation.</li>
                    <li>16:10-16:30 Presentation 4: Orthogonal Vector-Decomposed Disentanglement Network of Interactive Image Retrieval for Fashion Outfit Recommendation.</li>
                    <li>16:30-16:35 Closing.</li>
                    </ul>
                    </font>
            </div>
        </div>
        <form id="searchForm" class="col-md-12 form-horizontal" role="form">
            {% for post in site.data.twenty_21.programs %}
                <div class="row">
                    <div class="col-md-2">
                        <p valign="top">{{ post.time}}</p>
                    </div>
                    <div class="col-md-8" style="vertical-align: text-top; margin-bottom:-3px">
                        <p>{{ post.title | replace: ":", ": "}} 
                            {% if post.link != "none"%}
                            [<a href='{{ post.link}}'>Video Link</a>]
                            {% endif %} 
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p valign="top">{{post.people}}</p>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </form>
    </div>
</section>
