<section id="programs" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programs</h2>
                <!-- <h3 class="section-subheading"><strong>This is a tentative program.</strong>
                </h3> -->
                <h3 class="section-subheading" >20 Oct 2021 (all times are given in Beijing Time UTC+8)</h3>
<!--                 [<a href='https://whova.com/portal/webapp/mm_202110/VideoGallery'>Video Gallery</a>] -->
<!--                 <h3 class="section-subheading" >TBD</h3> -->
            </div>
        </div>
        <form id="searchForm" class="col-md-12 form-horizontal" role="form">
            {% for post in site.data.twenty_21.programs %}
                <div class="row">
                    <div class="col-md-2">
                        <p valign="top">{{ post.time}}</p>
                    </div>
                    <div class="col-md-8" style="vertical-align: text-top; margin-bottom:-3px">
                        <p>{{ post.title | replace: ":", ": "}} 
                            {% if post.link != "none"%}
                            [<a href='{{ post.link}}'>Video Link</a>]
                            {% endif %} 
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p valign="top">{{post.people}}</p>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </form>
    </div>
</section>
