<!-- Portfolio Grid Section -->
    <section id="organizers" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keynote Speakers</h2>
<!--                     <h3 class="section-subheading text-muted">TBD</h3> -->
                </div>
            </div>
            <form id="searchForm" class="col-md-12 form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-3">
                    <img class="alignnone size-medium wp-image-87 alignleft" src="../css/2021_style/img/speakers/chengwenhuang.jpeg" alt="" width="224" height="224" />
                    </div>
                    <div class="col-md-9">
                        <p class="large">
                        <strong><a href="http://aimmlab.nctu.edu.tw/whcheng/index.html">Prof. Wen-Huang Cheng</a></strong> is a Distinguished Professor with the Institute of Electronics, National Yang Ming Chiao Tung University (NYCU), Hsinchu, Taiwan, where he is the Founding Director with the Artificial Intelligence and Multimedia Laboratory (AIMMLab). Before joining NYCU, he led the Multimedia Computing Research Group at the Research Center for Information Technology Innovation (CITI), Academia Sinica, Taipei, Taiwan, from 2010 to 2018. His research interest includes multimedia, artificial intelligence, computer vision, machine learning, social media, and financial technology. </p>
                    </div>
                </div>
                <div class="row">
                    <p class="large"><strong>Title</strong>: xxxx</p>
<!--                     <p class="large"><strong>Keynote Slides</strong>: The download link is [<a href="https://drive.google.com/file/d/1gfa0LQsiQEq5awvXhTpJvq0V3657L7lD/view?usp=sharing">keynote-slides</a>]</p> -->
                    <p class="large"><strong>Abstract</strong>: xxxx. </p>
                    <hr />
                </div>

            </form>
            </div>
    </section><!-- #container -->
